<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="paciente/detalhes-base"
	th:with="currentPage='pacientes',currentSubPage='tratamentos'">

<section layout:fragment="tab-content">
	<div class="card">
		<div class="card-content relative-position">

			<a sec:authorize="hasAuthority('ATENDENTE')"
				th:href="@{/paciente/__${paciente.id}__/tratamento/cadastrar}"
				class="paciente__edit-button login__card-submit-button-hided btn-floating btn-large tooltipped"
				data-tooltip="Realizar Atendimento"> <i
				class="material-icons white-text waves-effect waves-light">add</i>
			</a>

			<p th:if="${#lists.isEmpty(tratamentos)}" class="center-align">Este
				paciente não possui tratamentos!</p>

			<table th:unless="${#lists.isEmpty(tratamentos)}"
				class="pacientes_detalhe-atendimentos-table mf-table">
				<thead>
					<tr>
						<th>Clínica</th>
						<th>Prioridade</th>
						<th>Status</th>
						<th>Data</th>
						<th>Responsável</th>
						<th sec:authorize="hasAuthority('ATENDENTE')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tratamento : ${tratamentos}">
						<td th:text="${tratamento.clinica.nome}" />
						<td th:text="${tratamento.prioridade}" />
						<td th:text="${tratamento.status.descricao}" />
						<td th:text="${#dates.format(tratamento.data, 'dd/MM/yyyy')}"></td>
						<td th:text="${tratamento.responsavel.nome}" />
						<td>
							<div class="row">
								<a style="display: inline-block"
									th:if="${!(tratamento.status.name() EQ 'CONCLUIDO' OR tratamento.status.name() EQ 'INTERROMPIDO')}"
									th:classappend="${tratamento.status.name() EQ 'CONCLUIDO' OR tratamento.status.name() EQ 'INTERROMPIDO'} ? disabled"
									sec:authorize="hasAuthority('ATENDENTE')"
									class="btn-small btn-floating z-depth-0 transparent"
									th:href="@{/paciente/__${paciente.id}__/tratamento/__${tratamento.id}__/editar}">
									<i class="material-icons green-text">edit_mode</i>
								</a>
								<button style="display: inline-block"
									th:if="${!(tratamento.status.name() EQ 'CONCLUIDO' OR tratamento.status.name() EQ 'INTERROMPIDO')}"
									th:classappend="${tratamento.status.name() EQ 'CONCLUIDO' OR tratamento.status.name() EQ 'INTERROMPIDO'} ? disabled"
									sec:authorize="hasAuthority('ATENDENTE')"
									class="btn-small btn-floating z-depth-0 transparent button-open-modal-excluir"
									th:attr=" link = @{/paciente/__${paciente.id}__/tratamento/__${tratamento.id}__/excluir}">
									<i class="material-icons red-text">delete</i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="/plano-tratamento/listagem-tratamentos_fragments :: modal-excluir-tratamento"></div>
</section>

<section layout:fragment="js-paciente">
	<script type="text/javascript"
		th:src="@{/js/tratamento/listagem-tratamentos.js}"></script>
</section>

</html>